
{{#each imgList}}
<ul>
    <li><img src={{img}} />img</li>
</ul>
{{/each}}


<style>
    table{
        text-align:center;
        width:100%;
        overflow:hidden;
    }
    table td,th{
    
    }
</style>