.gl-hide{
	display:none;
}

.gl_radio{
	background:#fff;
	padding:4px 8px;
	border: 1px solid #dcdfe6;
	font-size:14px;
	display:inline-block;
	margin-right:4px;
	border-radius: 5px;
	color: #606266;
	height: 22px;
	line-height: 22px;
	cursor: pointer;
}
.gl_radio:hover{
	border: 1px solid #409eff;
}
.gl_radio_mini{
	height: 18px;
	line-height: 18px;
	font-size:12px;
	padding:2px 6px;
}
.gl_radio_small{
	height: 20px;
	line-height: 20px;
	font-size:13px;
	padding:2px 6px
}
.gl_radio_medium{
	height: 24px;
	line-height: 24px;
	font-size:16px;
	padding:4px 10px
}
.gl_radio_checked{
	background: #409eff;
    color: #fff;
    border: 1px solid #409eff;
}
.gl_radio_disabled{
	background:#ccc;
	opacity:0.4;
}

.gl-input-serach-btn{
	display:flex;
	font-size: 1rem;
	label{
		line-height: 42px;
		text-align:center;
		background-color: #fbfdff;
	    color: #97a8be;
	    vertical-align: middle;
	    display: table-cell;
	    position: relative;
	    border: 1px solid #bfcbd9;
	    border-radius: 4px;
	    padding: 0 12px;
	    white-space: nowrap;
	    border-top-right-radius: 0;
	  	border-bottom-right-radius: 0;
	}
	.gl-input-serach{
	  	flex: 1;
	    border-radius: 4px;
	    border: 1;
	    height: 42px;
	    border: 1px solid #bfcbd9;
	    padding-left: 10px;
	    border-top-left-radius: 0;
	  	border-bottom-left-radius: 0;
	  	border-left:0px;	
	}	
}


